@import "tailwindcss";

:root {
  color-scheme: light dark;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
}

@layer utilities {
  @keyframes slide-up {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.2s ease-out forwards;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-left {
    animation: slide-left 0.2s ease-out forwards;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-down {
    animation: slide-down 0.2s ease-out forwards;
  }

  @keyframes slide-right {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-right {
    animation: slide-right 0.2s ease-out forwards;
  }
}
